<div *ngIf="selectedHero">
	
	<h2>Selected hero, [{{selectedHero.name}}]'s details: </h2>

	<div><label>ID:</label> <span> {{selectedHero.id}} </span>  </div>
	<div><label>Name:</label> <span> {{selectedHero.name}} </span>  </div>

	<label>Do you want to change the hero's name?</label>
	<input [(ngModel)]="selectedHero.name" placeholder="name">
</div>

Here are all your heroes:
<div *ngFor="let h of heroes">
	<div (click)="chooseHero(h)">
		<div><label>ID:</label> <span> {{h.id}} </span>  </div>
		<div><label>Name:</label> <span> {{h.name}} </span>  </div>
	</div>
</div>

<div><button (click)="addFamilyMember()">Add Family Member</button></div>